.dark-mode{
    background-color: darken($darkgray, 10);

    p{
        color: $white;
    }

    a, h1, h2, h3, h4{
        color: $lightgray;
    }

    .iconos-nosotros{
        background-color: transparent;
    }

    .anuncio{
        background-color: $darkgray;
        border: 1px solid $darkgray;
        .precio{
            color: $green;
        }
    }

    .iconos-caracteristicas{
        img{
            filter: invert(100%);
        }
    }

    .testimonial{
        background-color: darken($green, 10);
    }

    .texto-nosotros blockquote{
        color: $white;
    }

   form{
        label, legend, p{
            color: lightgray;
        }
        input:not([type="submit"]),
        textarea,
        select {
            background-color: $darkgray;
            border: 1px solid $darkgray;
            color: $white;
        }

        input::placeholder{
            color: $white;
            opacity: 0.8;
        }
    }

    .sticky-menu{
        .navegacion{
            background-color: darken($green, 15);
            box-shadow: 0.2rem 0.3rem 0.4rem darken($green, 15);
        }
    }

}