/** Footer **/

.footer-principal {
    background-color: $darkgray;
    margin-top: 5rem;
    padding: 3rem 0;
}

.contenido-footer {
    color: $white;
    text-align: center;
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}