    /** Contacto Home **/
    .webp .imagen-contacto{
        background-image: url(../img/encuentra.webp);
    }

    .no-webp .imagen-contacto{
        background-image: url(../img/encuentra.jpg);
    }


    .imagen-contacto {
        box-sizing: content-box;
        background: url(../img/encuentra.jpg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        display: flex;
        align-items: center;
        padding: 3rem 0;
        @include tablet{
            box-sizing: border-box;
            padding: 0;
        }
    }
    
    .contenido-contacto {
        color: $white;
        text-align: center;
        max-width: 90%;
        @include tablet{
            text-align: left;
            flex: 1;
            
        }
        h2{
            margin: 0;
        }
        
    }
    
    .contenido-contacto p {
        font-size: 1.8rem;
    }