/** Navegación **/

.barra {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .display-mobile-menu{
        flex: 1;
        @include tablet{
            flex: 0 0 auto;
        }
        display: flex;
        align-items: center;
        &>a{
            flex: 1;
            text-align: center;
            margin-left: 4.5rem;
            img{
                margin: 0 auto;
                display: grid;
                place-items: center;
            }
            @include tablet{
                padding-left: 0;
            }
        }
    
    }
}


.navegacion{
    display: none;

    @include tablet{
        display: flex;
        background-color: transparent;
    }
    a {
        color: $white;
        text-decoration: none;
        @include tablet{
            font-size: 1.8rem;
            margin-right: 2rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
        transition: 0.4s;
        @include tablet{
            color: rgba(255, 255, 255, 0.6);
            &:hover, &:focus {
                color: white;
            }
        }

    }
}



.mobile-menu{
    position: absolute;
    width: 3.5rem;
    z-index: 1;
    @include tablet{
        display: none;

    }

    img{
        display: grid;
        place-items: center;
        &:hover{
            cursor: pointer;
        }
    }
}

.sticky-menu{
    .navegacion{
        position: fixed;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $green;
        font-weight: bold;
        width: 95%;
        max-width: 50rem;
        box-shadow: 0.2rem 0.3rem 0.4rem $mediumgray;
        padding-top: 20%;
        animation: mymove 0.5s linear;
        overflow-x: hidden;
        // overflow-y: scroll;
        a{
            font-size: 2rem;
            display: block;
            color: $white;
            // transition: width 1s linear;
            
            &::after{
                content: '';
                display: block;
                width: 80%;
                margin: 1rem auto;
                height: 0.1rem;
                background-color: $lightgray;
                margin-bottom: 0;
            }
            padding-top: 1rem;
            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }


    }

    .mobile-menu{
        // animation: mymove2 5s;
        z-index: 2;
        position: fixed;
    }
}

.container-right{
    display: flex;
    align-items: center;

    .dark-mode-boton{
        display: grid;
        place-items: center;
        width: 3rem;
        filter: invert(100%);
        @include tablet{
            margin-left: 2rem;
        }
        
        &:hover{
            cursor: pointer;
        }
    }

}


@keyframes mymove {
    from {width: 0px;}
    to {width: 95%;}
  }

  @keyframes mymove2 {
    from {transform: translate(-0rem);}
    to {transform: translate(0);}
  }