/** Navegación **/

.barra {
    text-align: center;

    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.display-mobile-menu{
    display: flex;
    align-items: center;
    &>a{
        flex: 1;
        text-align: center;
        padding-left: 4.5rem;
        @include tablet{
            padding-left: 0;
        }
    }

}


.navegacion{
    display: none;

    @include tablet{
        display: flex;
        background-color: transparent;
    }
    a {
        text-decoration: none;
        @include tablet{
            font-size: 1.8rem;
            margin-right: 2rem;
            &:last-of-type {
                margin-right: 0;
            }
        }

        transition: 0.4s;
        color: rgba(255, 255, 255, 0.6);
        @include tablet{
            &:hover, &:focus {
                color: rgba(255, 255, 255, 1);
            }
        }

    }
}



.mobile-menu{
    position: absolute;
    width: 3.5rem;
    z-index: 1;
    @include tablet{
        display: none;

    }

    img{
        opacity: 0.9;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            // filter: invert(57%) sepia(100%) saturate(948%) hue-rotate(40deg) brightness(89%) contrast(101%);
            opacity: 1;
        }
        
    }
}

.sticky-menu{
    .navegacion{
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(123, 185, 15, 0.90);
        font-weight: bold;
        width: 95%;
        position: fixed;
        box-shadow: 0.2rem 0.3rem 0.4rem #444;
        padding-top: 20%;
        height: 60rem;
        min-height: 100% !important;
        // overflow-y: scroll;
        a{
            font-size: 2rem;
            display:block;
            &::after{
                content: '';
                display: block;
                width: 80%;
                margin: 1rem auto;
                height: 0.1rem;
                background-color: #e1e1e1;
                margin-bottom: 0;
            }
            padding-top: 1rem;
            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.2);
                color: rgba(255, 255, 255, 1);
            }
        }


    }

    .mobile-menu{
        z-index: 2;
        position: fixed;
    }
}
