
    /** Utilidades **/
    
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.texto-centrado {
    text-align: justify;
    font-size: 1.8rem;
}

.contenido-centrado {
    max-width: 100rem;
    margin: 0 auto;
}