// Colors

$white: #ffffff;
$lightgray : #f5f5f5;
$mediumgray: rgba(181, 181, 181, 0.9);
$darkgray: rgb(34, 34, 34);
$black : #000000;
$green : rgb(113, 177, 0);
$orange: rgba(240, 137, 2, 0.904);